@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #78350f #0f172a;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #0f172a;
  }

  *::-webkit-scrollbar-thumb {
    background: #78350f;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #92400e;
  }

  body {
    overflow-x: hidden;
  }
}
